@charset "utf-8";
/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
form { display: inline }
body, button, input, select, textarea { font: 12px/1.8 tahoma, arial, \5b8b\4f53, sans-serif }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, cite, dfn, em, var { font-style: normal }
code, kbd, pre, samp { font-family: courier new, courier, monospace }
small { font-size: 12px }
ul, ol { list-style: none }
a { text-decoration: none }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
legend { color: #000 }
fieldset, img { border: 0 }
button, input, select, textarea { font-size: 100% }
table { border-collapse: collapse; border-spacing: 0 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display: block; margin: 0; padding: 0 }
mark { background: #ff0 }
.clearfix { *zoom:1
}
.clearfix:before, .clearfix:after { display: table; content: "" }
.clearfix:after { clear: both }
.undis { display: none }
/*common*/
a { color: #666; text-decoration: none; }
a:hover { color: #4AA139; }
.ipt-txt { display: inline-block; vertical-align: middle; padding: 2px 5px; height: 20px; width: 180px; line-height: 20px; border: 1px solid #ABADB3; margin-right: 2px; }
label.radio { display: inline-block; position: relative; padding: 0 10px 0 18px; visibility: visible; min-width: 70px; }
label.radio-short { min-width: 30px; }
label.radio input { margin: 0 5px 0 -14px; vertical-align: -2px; }
.red { color: #F00; }
.red2 { color: #C00; }
.green { color: #090 }
.gray { color: gray; }
.tinge { color: #999 }
/**/
body { font: 12px/1.8 tahoma, arial, \5b8b\4f53, sans-serif; font-family: "Microsoft YaHei"; color: #333; }
.wrapper { width: 1000px; margin: 0 auto; }
.header { width: 100%; background: url('../img/headbg.png') 0 -5px repeat-x; }
.header .logo1 { float: left;background: url('../img/logo/head_logo_weixin.png') left top no-repeat;width:141px;height: 50px}
.header .logo2 { float: left;background: url('../img/logo/head_logo_cafe.png') left top no-repeat;width:150px;height: 50px}
.header .logo3 { float: left;background: url('../img/logo/head_logo_jukebao.png') left top no-repeat;width: 200px;height: 50px}
.header .logo4 { float: left;background: url('../img/logo/head_logo_happy.png') left 6px no-repeat;width:187px;height:50px}
.header .top .line { margin-left: 12px; margin-right: 12px; }
.header .top img { float: left; }
.header .top { clear: both; overflow: hidden; height: 49px; }
.header .info { float: right; padding-left: 35px; line-height: 49px; background: url('../img/logoname.png') left center no-repeat; }
.header .info a { text-decoration: none; }
.header span { margin: 0 10px; }
/*导航菜单*/
.topnav { height: 73px; background: url('../img/nav_split.png') 0 100% no-repeat; overflow: hidden; font-size: 14px; }
.topnav li { float: left; margin-left: -1px; display: inline; background: url('../img/nav_split.png') 100% 100% no-repeat; }
.topnav .on { background: url('../img/nav_onbg.png') 50% 100% no-repeat; }
.topnav .nav1 { background-image: url(../img/nav_icon_1h.png); }
.topnav .on .nav1, .topnav .nav2:hover { background-image: url(../img/nav_icon_1.png); }
.topnav .nav2 { background-image: url(../img/nav_icon_2h.png); }
.topnav .on .nav2, .topnav .nav2:hover { background-image: url(../img/nav_icon_2.png); }
.topnav .nav3 { background-image: url(../img/nav_icon_3h.png); }
.topnav .on .nav3, .topnav .nav3:hover { background-image: url(../img/nav_icon_3.png); }
.topnav .nav4 { background-image: url(../img/nav_icon_4h.png); }
.topnav .on .nav4, .topnav .nav4:hover { background-image: url(../img/nav_icon_4.png); }
.topnav .nav5 { background-image: url(../img/nav_icon_5h.png); }
.topnav .on .nav5, .topnav .nav5:hover { background-image: url(../img/nav_icon_5.png); }
.topnav .nav6 { background-image: url(../img/nav_icon_6h.png); }
.topnav .on .nav6, .topnav .nav6:hover { background-image: url(../img/nav_icon_6.png); }
.topnav .nav7 { background-image: url(../img/nav_icon_7h.png); }
.topnav .on .nav7, .topnav .nav7:hover { background-image: url(../img/nav_icon_7.png); }
.topnav .nav8 { background-image: url(../img/nav_icon_8h.png); }
.topnav .on .nav8, .topnav .nav8:hover { background-image: url(../img/nav_icon_8.png); }
.topnav .nav9 { background-image: url(../img/nav_icon_9h.png); }
.topnav .on .nav9, .topnav .nav9:hover { background-image: url(../img/nav_icon_9.png); }
.topnav .nav10 { background-image: url(../img/nav_icon_10h.png); }
.topnav .on .nav10, .topnav .nav10:hover { background-image: url(../img/nav_icon_10.png); }
.topnav .nav11 { background-image: url(../img/nav_icon_11h.png); }
.topnav .on .nav11, .topnav .nav11:hover { background-image: url(../img/nav_icon_11.png); }
.topnav .nav12 { background-image: url(../img/nav_icon_12h.png);background-position:52% 5px  }
.topnav .on .nav12, .topnav .nav12:hover { background-image: url(../img/nav_icon_12.png);background-position:52% 5px }
.topnav a { display: block; width: 100px; background: url(../img/nav_icon_1h.png) 52% 10px no-repeat; height: 28px; line-height: 21px; padding-top: 45px; text-align: center; color: #C8E2C3; text-shadow: #000 0 1px 0; }
.topnav .on a, .topnav a:hover { color: #FFF; }
/*二级菜单*/
.subnav { background: url(../img/nav2.png) repeat-x; height: 40px; line-height: 30px; font-size: 14px; }
.subnav a { float: left; background: url(../img/nav2.png) 100% -40px no-repeat; width: 126px; padding: 6px 0 4px 0; text-align: center; }
.subnav .first { width: 127px; }
.subnav .on { border-bottom: 4px solid #5DB528; padding-bottom: 0; color: #5db528; }
/*首页菜单*/
.nav-home { float: left; width: 740px; }
.nav-home li { float: left; width: 234px; height: 122px; margin: 0 10px 10px 0; background: url(../img/jindexbg.png) no-repeat }
.nav-home li:hover { background: url(../img/jindexbgH.png) no-repeat }
.nav-home a { display: inline-block; padding: 16px 16px 10px 60px; margin: 0 16px; font-size: 18px; color: #459935; }
.nav-home em { color: #aaaaaa; font-size: 12px; display: block; margin: 15px 0 0 -55px; }
.nav-home .nav2 { background: url(../img/nav2_icon_2.png) 5px 10px no-repeat; }
.nav-home .nav3 { background: url(../img/nav2_icon_3.png) 2px 15px no-repeat; }
.nav-home .nav4 { background: url(../img/nav2_icon_4.png) 5px 15px no-repeat; }
.nav-home .nav5 { background: url(../img/nav2_icon_5.png) 5px 15px no-repeat; }
.nav-home .nav6 { background: url(../img/nav2_icon_6.png) 5px 15px no-repeat; }
.nav-home .nav7 { background: url(../img/nav2_icon_7.png) 5px 15px no-repeat; }
.nav-home .nav8 { background: url(../img/nav2_icon_8.png) 5px 15px no-repeat; }
.nav-home .nav9 { background: url(../img/nav2_icon_9.png) 5px 15px no-repeat; }
.nav-home .nav10 { background: url(../img/nav2_icon_10.png) 5px 15px no-repeat; }
.nav-home .nav11 { background: url(../img/nav2_icon_11.png) 5px 15px no-repeat; }
.nav-home .nav12 { background: url(../img/nav2_icon_12.png) 5px 15px no-repeat; }
/*底部*/
.footer { padding: 16px; background-color: #d5d7d9; border-top: 1px solid #c3c7c8; margin-top: 10px; }
.footer .phone { margin-top: 10px; font-size: 20px; padding-left: 34px; height: 26px; line-height: 26px; background: url('../img/headerPhone.png') left center no-repeat; float: right; color: #459935; }
/*表单表格*/
.table-form { width: 100%; margin: 10px 0; }
.table-form th, .table-form td { border-top: 1px solid #F2F2F2; padding: 10px; }
.table-form thead { background: #7AB5CA; color: #FFF; font-size: 14px; font-weight: 700; }
.table-form tr:first-child th, .table-form tr:first-child td { border-top: 0; }
.table-form th { text-align: right; min-width: 70px; white-space: nowrap; vertical-align: top; font-weight: normal; font-size: 14px; }
.table-form tfoot td { background: #F8F8F8; padding-left: 150px }
.table-form tfoot button { margin-right: 10px; }
.table-form textarea { width: 80%; height: 100px; }
/**/
.page-title { background: url(../img/p_arrow.png) 0 50% no-repeat; padding-left: 30px; line-height: 38px; height: 38px; margin: 10px 0; }
.page-title .h2 { float: left; margin: 0; }
.page-intro { font-size: 14px; margin: 10px 0 }
/*纯选项卡*/
.tab-nav { border-bottom: 1px solid #ccc; height: 35px; }
.tab-nav li { float: left; }
.tab-nav li a { float: left; cursor: pointer; margin: 0 1px; width: 140px; height: 35px; background: url(../img/tab.gif) 0 0 no-repeat; line-height: 35px; text-align: center; }
.tab-nav li.on a { color: #fff; background-position: 0 -35px }
/**/
.table { width: 100%; text-align: center; }
.table tr { line-height: 36px; }
.table td, .table th { border-top: 1px solid #fff; border-left: 1px solid #fff; }
.table thead { background-color: #d7e7f6; }
.tdFirst { width: 36px; }
.table tbody td { background-color: #f7f6f6; }
.table tbody tr:nth-child(even) td { background-color: #e8f3f9; }
.table a { color: #0072c6; margin-right: 25px; }
/*table切换 */
.tabTest { border-bottom: 1px solid #ccc; height: 35px; }
.tabTest li { float: left; cursor: pointer; margin: 0 1px; width: 140px; height: 35px; background: url(../img/tab.gif) 0 0 no-repeat; line-height: 35px; text-align: center; }
.tabTest li.on { width: 140px; height: 35px; color: #fff; background-position: 0 -35px }
/* 通用dropdown样式 */
.dropdown { position: relative; display: inline-block; text-align: left; vertical-align: middle; _vertical-align: 2px; margin-right: 2px; line-height: 10px; *display:inline;
*zoom:1;
}
.dropdown dt { line-height: 24px; cursor: pointer; display: inline-block; height: 24px; text-align: left; padding: 3px 30px 3px 8px; border: 1px #c3c7c8 solid; background: #FFF url(../img/icon_dropdown.png) 100% 50% no-repeat; /*max-width: 240px;
min-width: 160px;*/ overflow: hidden;/*_width: 160px;*/ *display:inline;
*zoom:1;
}
.dropdown dd { line-height: 18px; position: absolute; top: 100%; left: 0; margin: 1px 0 0; background: #fff; display: none; border: 1px solid #a6a6a6; padding: 4px 0; -ms-box-shadow: 0 5px 10px rgba(0,0,0,0.2); box-shadow: 0 5px 10px rgba(0,0,0,0.2); zoom: 1; /*min-width: 198px;
max-width: 278px;*/ max-height: 192px; overflow: hidden; overflow-y: auto;/*_height: expression( this.Height > 192 ? "192px" : "visible" );
_width: expression(this.offsetWidth > 278 ? '278px':'198px');*/ }
.dropdown-open dd { display: block; }
.dropdown dd li { cursor: pointer; display: inline; }
.dropdown dd a { display: block; padding: 3px 15px; white-space: nowrap; font-size: 12px; }
.dropdown dd a:hover { background-color: #08c; color: #FFF; text-decoration: none; }
/* 通用弹出框样式 */
.dialog-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; _position: absolute; _height: expression(document.documentElement.scrollTop + Math.round(document.documentElement.offsetHeight));
_width: expression(document.documentElement.scrollLeft + Math.round(document.documentElement.offsetWidth));
z-index: 1000; background-color: black; opacity: .2; filter: alpha(opacity=20); }
.dialog-box { position: fixed; _position: absolute; left: 50%; top: 50%; _top: expression(document.documentElement.scrollTop + Math.round(document.documentElement.offsetHeight / 2));
_left: expression(document.documentElement.scrollLeft + Math.round(document.documentElement.offsetWidth / 2));
margin: -110px 0 0 -200px; width: 600px; background: #FFF url(img/popupbg.jpg) repeat-x 0 bottom; box-shadow: 0 3px 24px #666; z-index: 1001; border: 1px solid #ccc 9; }
.dialog-dt { height: 24px; line-height: 22px; background: url(img/dialog_line.png) 100% 100% no-repeat; }
.dialog-dd { padding: 0 20px 20px; }
.dialog-dt em { margin-left: 25px; font-weight: bold; font-size: 14px; line-height: 30px; }
.dialog-box .btn-close { width: 12px; height: 12px; background: url(img/btn_close.png) 0 0 no-repeat; cursor: pointer; position: absolute; right: 6px; top: 6px; text-indent: -9999em; }
/*通用弹出框样式结束  */
/* 通用样式按钮 */
.blueBut { font-size: 14px; display: inline-block; width: 146px; height: 38px; background: url('../img/blueBut.png') no-repeat; color: #fff; line-height: 38px; text-align: center; border: none; outline: none; }
.blueBut:hover { background: url('../img/blueButH.png') no-repeat; color: #fff; }
.yellowBut { font-size: 14px; display: inline-block; width: 146px; height: 38px; background: url('../img/yellowBut.png') no-repeat; color: #fff; line-height: 38px; text-align: center; border: none; outline: none; }
.yellowBut:hover { background: url('../img/yellowButH.png') no-repeat; color: #fff; }
.grayBut { font-size: 14px; display: inline-block; width: 146px; height: 38px; background: url('../img/grayBut.png') no-repeat; color: #fff; line-height: 38px; text-align: center; border: none; outline: none; }
.grayBut:hover { background: url('../img/grayButH.png') no-repeat; color: #fff; }
.blueBut { font-size: 14px; display: inline-block; width: 146px; height: 38px; background: url('../img/blueBut.png') no-repeat; color: #fff; line-height: 38px; text-align: center; border: none; outline: none; }
.blueBut:hover { background: url('../img/blueButH.png') no-repeat; color: #fff; }
.input1 { font-size: 14px; display: inline-block; width: 146px; height: 32px; background: url('../img/input1.png') no-repeat; line-height: 32px; text-align: center; border: none; outline: none; }
.input1:hover { background: url('../img/input1H.png') no-repeat; }
.Wdate { border: #c3c7c8 1px solid; height: 28px; background: #fff url('../img/data.png') no-repeat right; padding-left: 8px; padding-right: 24px; cursor: pointer; }
.tablecretescr .inputdate input { width: 145px; height: 28px; border: 1px solid #8b8b8b; color: #c5c5c5; }
.contain { margin-bottom: 35px; margin-top: 16px; min-height: 300px; font-size: 14px; }
/*base*/
.contain p { padding: 5px 0; }
.fontGreen { color: #5db528; }
.fontWhite { color: #fff; }
.fontGray { color: #b5b5b5; }
.fontRed { color: red; }
.price { font-size: 24px; color: #F00; }
.radius5 { border-radius: 5px; }
.ar { text-align: right; }
.ac { text-align: center; }
.fl { float: left; }
.fr { float: right; }
.w30 { width: 30px; }
.w130 { width: 132px; }
.w200 { width: 200px; }
.w220 { width: 221px; }
.w240 { width: 240px; }
.w340 { width: 340px; }
.w365 { width: 365px; }
.w600 { width: 600px; }
.w460 { width: 460px; }
.w420 { width: 420px; }
.w480 { width: 480px; }
.h250 { height: 250px; }
.pd15 { padding: 0 15px; }
.pd20 { padding: 20px; }
.pd10 { padding: 10px; }
.pdt10 { padding-top: 10px; }
.m20 { margin: 20px; }
.mtb10 { margin: 10px 0; }
.mlr20 { margin: 0 20px; }
.ml40 { margin-left: 40px; }
.mtb40 { margin: 40px 0; }
.bgGray { background: #e4e4e4; }
.title { font-weight: bold; font-size: 14px; padding: 0 15px; }
.h2 { color: #2f931b; font-size: 14px; font-weight: normal; margin: 15px 0; }
.inputText { height: 20px; line-height: 20px; border: 1px solid #c3c7c8; padding: 4px 10px; color: #666; }
.inputupload { height: 30px; line-height: 30px; border: 1px solid #c3c7c8; padding: 0 10px; color: #666; background: url('../img/p_upload.png') no-repeat 5px 5px; text-indent: 15px; }
.dropDownList { background: url('../img/icon_dropdown.png') #fff no-repeat right; cursor: pointer; }
.even { background: #e5e7e8; }
.odd { background: #f7f7f7; }
.tdHover { background: #ddd; }
.minH300 { min-height: 300px; }
.area { width: 490px; height: 150px; border: 1px solid #c3c7c8; }
.hid { display: none; }
.edit { width: 27px; height: 26px; background: url('../img/icon.png') 0 -33px no-repeat; display: inline-block; }
.del { width: 27px; height: 26px; background: url('../img/icon.png') 0 0 no-repeat; display: inline-block; }
.arcBox { border: 1px solid #bfbfbf; border-radius: 8px; padding: 15px; margin: 10px 0; }
.arcBox2 { border: 1px dashed #bfbfbf; border-radius: 8px; padding: 15px; margin: 10px 0; }
.arcBox3 { border: 1px solid #bfbfbf; border-radius: 8px; padding: 0x; margin: 10px 0; }
.posR { position: relative; }
.boxArrow { width: 20px; height: 26px; background: url('../img/p_boxArrow.png'); position: absolute; left: -19px; top: 40px; }
.page a { color: #5db528; }
.page a.disable { color: #666; cursor: default; }
.page a, .page span { padding: 0 10px; }
.btn50 { width: 50px; height: 30px; line-height: 30px; text-align: center; display: inline-block; border: 0; background: url('../img/p_btnBg.png'); cursor: pointer; }
.btn120 { width: 120px; height: 30px; line-height: 30px; text-align: center; display: inline-block; border: 0; background: url('../img/p_btn120.png'); cursor: pointer; }
.btn75 { width: 75px; height: 30px; line-height: 30px; text-align: center; display: inline-block; border: 0; background: url('../img/btn75.png'); cursor: pointer; }
/*icon*/
.arrow { width: 21px; height: 21px; background: url('../img/p_arrow.png'); display: inline-block; vertical-align: sub; margin: 0 10px 0 0; }
/*pop*/
.popup { border: 1px solid #eaeaea; position: absolute; z-index: 100; background: #f7f7f7; top: 300px; left: 20%; }
.popHead { background: url('../img/p_popHeadBg.png'); height: 40px; line-height: 40px; padding: 0 15px; font-weight: bold; font-size: 14px; }
.popHead span { float: left; }
.popHead input { float: right; margin: 12px 0 0 0; border: 0; cursor: pointer; display: inline-block; background: url('../img/p_close.png'); width: 15px; height: 15px; }
.popContent .label { width: 90px; display: inline-table; text-align: right; }
.popContent .label2 { width: 60px; display: inline-table; text-align: right; }
.popContent p { padding: 3px 0; }
.formfoot { margin: 0 20px 20px 20px; }
/*step*/
.step { margin: 20px 0; height: 36px; background: #e6e7e8; }
.step li { width: 160px; float: left; margin-left: -18px; list-style: none; height: 36px; line-height: 36px; text-align: center; background: url('../img/p_step.png') right bottom; }
.step li.on { background: url('../img/p_step.png') right 0; color: #fff; }
.step li.firstOn { margin-left: 0; background: url('../img/p_step.png') left 0; color: #fff; }
.step li.first { margin-left: 0; background: url('../img/p_step.png') left bottom; }
/*pannel box*/
.box { border: 1px solid #d5d7d9; margin: 10px 0; }
.boxT { height: 36px; line-height: 36px; background: #d5d7d9; }
.pageT { line-height: 38px; height: 38px; }
.tip { padding: 0 15px; }
.pannelL { float: left; width: 320px; margin: 15px 15px 0 0; border: 1px solid #d5d7d9; }
.pannelR { float: left; width: 618px; margin: 15px 0 0 0; border: 1px solid #d5d7d9; }
/*table style2*/
.tb2 td { height: 36px; line-height: 36px; padding: 0 15px; }
.tb2 thead th { background: #d5d7d9; font-weight: bold; font-size: 14px; height: 36px; line-height: 36px; padding: 0 15px; text-align: left; }
.tb2 thead input { margin: 0 10px 0 0; }
.formfoot2 { padding: 10px; border-top: 1px solid #d5d7d9; line-height: 38px; }
/*table style1*/
.tb td { height: 36px; line-height: 36px; padding: 0 15px; border-left: 1px solid #fff; }
.tb thead th { background: #d5d7d9; font-weight: bold; font-size: 14px; height: 36px; line-height: 36px; padding: 0 15px; border-left: 1px solid #fff; text-align: left; }
/* jy首页 */
.containWidth { width: 1000px; margin: 0 auto; }
.jindexC .jindexCR .qq i { background-image: url('../img/jicon.png'); background-repeat: no-repeat; }
.jindexB { height: 90px; background: url('../img/jgray90.png') repeat-x;overflow: hidden; }
.jindexB .wrapper { position: relative; }
.jindexB img { vertical-align: top; position: relative; top: -1px; }
.jindexB .rChange { position: absolute; right: 0px; top: 20px; width: 319px; height: 50px; background: url('../img/jrapidchange.png') no-repeat; }
.jindexB .idntifinum { margin-left: 25px; margin-top: 13px; }
.jindexB .idntifinum span { color: #ccc; }
.jindexB .idntifinum input { margin-left: 3px; border: none; outline: none; background: none; }
.jindexB .search { color: #fff; background: url('../img/jsearch.png') no-repeat; display: inline-block; width: 90px; height: 32px; line-height: 32px; font-weight: bold; text-align: center; position: absolute; right: 8px; top: 7px; }
.jindexC { margin-top: 20px; }
.jindexC .jindexCL { float: left; width: 740px; }
.jindexC .jindexCR { float: right; width: 220px; padding-left: 20px; border-left: 1px solid #ccc; min-height: 400px; _height: 400px; }
.jindexC .jindexCL a { background-image: url('../img/jindexallpic.png'); margin-right: 10px; margin-bottom: 10px; display: inline-block; float: left; width: 234px; height: 122px; background: url('../img/jindexbg.png') no-repeat; }
.jindexC .jindexCL a p { padding: 0px; }
.jindexC .jindexCL a:hover { background: url('../img/jindexbgH.png') no-repeat; }
.jindexC .jindexCL a .p1 { margin-left: 16px; margin-top: 16px; font-size: 18px; color: #459935; }
.jindexC .jindexCL a .p1 span { display: inline-block; padding-top: 8px; }
.jindexC .jindexCL a .p1 i { vertical-align: top; display: inline-block; width: 58px; height: 54px; background-image: url('../img/jindexallpic.png'); background-repeat: no-repeat; }
.jindexC .jindexCL a .p2 { color: #aaaaaa; display: inline-block; margin-left: 16px; margin-right: 16px; vertical-align: top; line-height: 18px; }
.jindexC .jindexCL .a1 .p1 i { background-position: -13px 0; }
.jindexC .jindexCL .a2 .p1 i { background-position: -91px 0; }
.jindexC .jindexCL .a3 .p1 i { background-position: -171px 0; }
.jindexC .jindexCL .a4 .p1 i { background-position: -251px 0; }
.jindexC .jindexCL .a5 .p1 i { background-position: -327px 0; }
.jindexC .jindexCL .a6 .p1 i { background-position: -405px 0; }
.jindexC .jindexCL .a7 .p1 i { background-position: -483px 0; }
.jindexC .phone { margin-top: 15px; margin-bottom: 30px; font-size: 20px; padding-left: 34px; height: 26px; line-height: 26px; background: url('../img/headerPhone.png') left center no-repeat; color: #459935; }
.jindexC .jindexCR { font-weight: 500; }
.jindexC .jindexCR .p1 { line-height: 28px; }
.jindexC .jindexCR .p2 { line-height: 28px; }
.jindexC .jindexCR .p2 span { color: #43ae1a; }
.jindexC .jindexCR .qq { margin-bottom: 33px; }
.jindexC .jindexCR .qq i { display: inline-block; width: 27px; height: 32px; background-position: 0 -2px; vertical-align: middle; }
/*mener*/
.posA { position: absolute; right: 0; top: -5px; }
.popInfo { width: 178px; height: 188px; padding: 0 15px; background: url('../img/p_popInfo.png'); position: absolute; z-index: 99; }
.popInfo .infoHead { height: 28px; line-height: 28px; }
.btnEditInfo { width: 19px; height: 19px; background: url('../img/p_iconEdit.png'); border: 0; cursor: pointer; float: right; margin: 5px 3px 0 0; }
.woman { padding-right: 20px; background: url('../img/p_tx.png') right 0 no-repeat; font-weight: bold; }
.popInfo p { padding: 5px 0; }
.borderT { border-top: 1px solid #d5d7d9; padding-top: 15px; }
.infoRed { height: 190px; line-height: 190px; text-align: center; color: red; font-size: 18px; }
/* 时间  */
.date_selector, .date_selector * { width: auto; height: auto; border: none; background: none; margin: 0; padding: 0; text-align: left; text-decoration: none; }
.date_selector { background: #F2F2F2; border: 1px solid #bbb; padding: 5px; margin: -1px 0 0 0; position: absolute; z-index: 100000; display: none; box-shadow: 0 8px 24px #666; }
.date_selector_ieframe { position: absolute; z-index: 99999; display: none; }
.date_selector .nav { width: 17.5em; /* 7 * 2.5em */ }
.date_selector .month_nav, .date_selector .year_nav { margin: 0 0 3px 0; padding: 0; display: block; position: relative; text-align: center; }
.date_selector .month_nav { float: left; width: 55%; }
.date_selector .year_nav { float: right; width: 35%; margin-right: -8px; /* Compensates for cell borders */ }
.date_selector .month_name, .date_selector .year_name { font-weight: bold; line-height: 20px; }
.date_selector .button { display: block; position: absolute; top: 0; width: 18px; height: 18px; line-height: 17px; font-weight: bold; color: #003C78; text-align: center; font-size: 120%; overflow: hidden; border: 1px solid #F2F2F2; }
.date_selector .button:hover, .date_selector .button.hover { background: none; color: #003C78; cursor: pointer; border-color: #ccc; }
.date_selector .prev { left: 0; }
.date_selector .next { right: 0; }
.date_selector table { border-spacing: 0; border-collapse: collapse; clear: both; width: 18em; }
div.date_selector th, div.date_selector td { width: 2.5em; height: 2em; padding: 0; text-align: center; color: black; }
.date_selector td { border: 1px solid #ccc; line-height: 2em; text-align: center; white-space: nowrap; color: #003C78; background: white; }
.date_selector td.today { background: #FFFEB3; }
.date_selector td.unselected_month { color: #ccc; }
.date_selector td.selectable_day { cursor: pointer; }
.date_selector td.selected { background: #D8DFE5; font-weight: bold; }
.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover { background: #003C78; color: white; }
.date_selector .time_selector { padding-top: 5px; }
.date_selector .time_selector input { background: #FFF; width: 20px; display: inline-block; vertical-align: middle; padding: 2px 5px; height: 20px; line-height: 20px; border: 1px solid #ABADB3; margin: 0 2px; }
.date_selector .time_selector button { vertical-align: middle; background: #298BC8; color: #FFF; height: 26px; width: 36px; text-align: center; cursor: pointer; }
/*两栏布局*/
.wrap2 { }
.wrap2 .left { float: left; width: 483px; }
.wrap2 .right { float: right; min-width: 488px; margin-right: -3px; }
.wrap2 .title { background: url(../img/box_tips.png) 0 0 no-repeat; height: 40px; line-height: 40px; padding: 3px 0 0 20px; }
.wrap2 .content { background: url(../img/box_tips_bg.png) 0 0 repeat-y; padding: 5px 0 5px 20px; }
.wrap2 .bottom { background: url(../img/box_tips.png) 0 100% no-repeat; height: 7px; overflow: hidden; }
.wrap2 .left2 { float: left; width: 236px; }
.wrap2 .right2 { float: right; width: 754px; margin-right: -3px; }
.wrap2 .right2 .title { background: url(../img/box_tips2.png) 0 0 no-repeat; height: 40px; line-height: 40px; padding: 3px 0 0 20px; }
.wrap2 .right2 .content { background: url(../img/box_tips2_bg.png) 0 0 repeat-y; padding: 5px 0 5px 20px; }
.wrap2 .right2 .bottom { background: url(../img/box_tips2.png) 0 100% no-repeat; height: 7px; overflow: hidden; }
.iphone-box { background: url(../img/iphone_bg.png) 0 0 no-repeat; padding: 160px 43px 10px 50px; width: 390px; }
/**/
.wrap3 { margin: 10px 0; }
.wrap3 .left { float: left; width: 390px; }
.wrap3 .right { float: right; min-width: 488px; }
/*群发消息*/
.send-message { }
.send-message .title { padding-left: 0; }
.send-message textarea { width: 100%; border: 1px solid #DEDEDE; height: 100px; }
.send-message .content2 { background: #E6E7E9; padding: 10px; margin-bottom: 10px; }
.send-message p { padding: 0; }
.select-contact .title { padding-left: 0; }
.select-contact .head { padding: 5px 0 5px 5px; background: #D6D7D9; border-top: 1px solid #BFC0C2; }
.select-contact .rightcol { float: right; width: 230px; padding: 0 15px; }
.select-contact .contact { border: 1px solid #DEDEDE; height: 430px; }
.select-contact .list1{ width:260px;}
.select-contact .list1 li { padding: 0 0 0 30px; background: url(../img/contact_arrow.png) 12px 50% no-repeat; position:relative; }
.select-contact .list1 em { display: inline-block; height: 35px; line-height: 35px; padding-left: 25px; background: url(../img/contact_fold.png) 0 50% no-repeat; cursor: default; }
.select-contact li.on, .select-contact li:hover { background-color: #E6E7E9; }
.select-contact li.on { background:url(../img/contact_arrow2.png) 12px 50% no-repeat; }
.select-contact .list1 { float: left; height:430px;overflow:auto;}
.select-contact .list1 .sub { background: none; overflow:auto;}
.select-contact .list1 i{ display:none;position:absolute; background:url(../img/contact_plus.png) no-repeat; width:15px;height:15px; top:50%; margin-top:-9px;right:20px;}
.select-contact .list1 li:hover i{  display:inline-block;}
.select-contact .line { float: left; width: 58px; height:100%; background:#F5F5F5 url(../img/contact_arrow3.png) 50% 50% no-repeat }
.select-contact .sub li { background: none; padding-left: 21px; }
.select-contact .list2 { float: right; width: 260px; }
.select-contact .list2x {height:430px;overflow:auto;}
.select-contact .list2 li{ position:relative;}
.select-contact .list2 li i{display:none;position:absolute; background:url(../img/contact_del.png) no-repeat; width:15px;height:15px; top:50%; margin-top:-9px;right:20px;}
.select-contact .list2 li:hover i{  display:inline-block;}
.select-contact .name{ margin:5px 10px;}
/**/
.box-category { border: 1px solid #DEDEDE; }
.box-category .category { float: left; width: 190px; }
.box-category .cate-item { display: block; padding: 5px 10px; }
.box-category .cate-item:hover { background: #ECECEC; }
.box-category .cate-item-on { background: #DEDEDE; }
.box-category .list { overflow: hidden; _zoom: 1; border-left: 1px solid #DEDEDE; }
.box-category input { vertical-align: -2px; }
.table-list { width: 100%; }
.table-list td { padding: 3px 5px; }
.table-list thead tr { background: #DEDEDE; }
.table-list tbody tr td { border-top: 1px solid #DEDEDE; }
.box-search { margin-bottom: 10px; text-align: right; }
/*列表二*/
.table-list2 { width: 100%; }
.table-list2 td { padding: 5px 10px; }
.table-list2 thead td { border-top: 1px solid #BBBFC0; background: #D6D7D9 }
.table-list2 tbody td { border-bottom: 1px solid #E7E7E7; }
.table-list2 .pic { margin-right: 10px; vertical-align: middle }
/*magazine*/
.magazine-box { width: 488px; margin-bottom: 10px; }
.magazine-box .top { background: url(../img/magazine_border.png) 0 0 no-repeat; height: 10px; }
.magazine-box .body { background: url(../img/magazine_bg.png) 0 100% repeat-y; padding: 20px 20px 20px 50px; line-height: 1.5; }
.magazine-box .body em { font-weight: 700; }
.magazine-box .bottom { background: url(../img/magazine_border.png) 0 100% no-repeat; height: 10px; }
.magazine-box .pic { text-align: center; }
.magazine-box .journals { width: 75px; display: inline-block; text-align: left; }
.magazine-box .journals em { font-size: 20px; width: 60px; display: inline-block; }
.magazine-box .name { display: block; font-size: 24px; color: #F00; }
/**/
.tips-banner { background: #E1EEDC; padding: 10px; position: relative; }
.tips-banner .close { background: url(../img/close.png) 50% 50% no-repeat; position: absolute; width: 64px; right: 0; top: 0; height: 100%; border-left: 1px solid #FFF; cursor: pointer; }
.tips-content { margin-right: 70px; }
/*小手指*/
.finger{cursor: pointer;}
/*pre换行*/
pre{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.ft-orange{color:#ef6716;}
.ft-24{font-size: 24px;}
.ft-blod{font-weight: bold;}
.jindexCR .p1 img{vertical-align: middle;}
.jindexCR .p1 span{vertical-align: middle;}


/*余额提示*/
.balPrompt{height: 40px;line-height: 40px;border-radius: 6px;width:940px;margin: 20px auto 0;font-size: 14px;color: white;background:#ff6000 url(../img/icon_homeTips.png) no-repeat 20px 5px;padding-left:60px}
